{% extends 'base.html' %}
{% load static %}

{% block title %}GamePub - Cardápio{% endblock %}

{% block content %}
    <div class="title">Cardapio</div>
    <div class="container ct-2">
        {% for item in cardapio %}
        <div class="menu-item">
            <div class="item-image">
                <img src="{% static item.imagem %}" alt="{{ item.nome }}">
            </div>
            <div class="item-content">
                <h3>{{ item.nome }}</h3>
                <p class="item-description">{{ item.descricao }}</p>
                <p class="item-price">Preço: R$ {{ item.preco|floatformat:2 }}</p>
            </div>
        </div>
        {% empty %}
        <p>Nenhum item no cardápio.</p>
        {% endfor %}
    </div>
{% endblock %}
