{% extends 'base.html' %}
{% load static %}

{% block title %}GamePub - Home{% endblock %}

{% block content %}
    <div class="title">Áreas</div>
    
    <div class="container ct-2">
        {% for area in areas %}
        <div class="menu-item">
            <div class="item-image">
                <img src="{% static area.imagem %}" alt="{{ area.nome }}">
            </div>
            <div class="item-content">
                <h3>{{ area.nome }}</h3>
                <p class="item-description">{{ area.descricao }}</p>
            </div>
        </div>
        {% empty %}
        <p class="not">Nenhuma área cadastrada!</p>
        {% endfor %}
    </div>
    
    <div class="title">Menu</div>
    <div class="container ct-2">
        {% for item in cardapio %}
        <div class="menu-item">
            <div class="item-image">
                <img src="{% static item.imagem %}" alt="{{ item.nome }}">
            </div>
            <div class="item-content">
                <h3>{{ item.nome }}</h3>
                <p class="item-description">{{ item.descricao }}</p>
                <p class="item-price">Preço: R$ {{ item.preco|floatformat:2 }}</p>
            </div>
        </div>
        {% empty %}
        <p class="not">Nenhum item no cardápio!</p>
        {% endfor %}
    </div>
    
    <div class="title">Jogos</div>
    <div class="container ct-2">
        {% for jogo in jogos %}
        <div class="menu-item">
            <div class="item-image">
                <img src="{% static jogo.imagem %}" alt="{{ jogo.nome }}">
            </div>
            <div class="item-content">
                <h3>{{ jogo.nome }}</h3>
                <p class="item-description">{{ jogo.descricao }}</p>
                <p class="item-style">Estilo: {{ jogo.estilo }}</p>
                <p class="item-players">Jogadores: {{ jogo.get_jogadores_display }}</p>
            </div>
        </div>
        {% empty %}
        <p class="not">Nenhum jogo cadastrado!</p>
        {% endfor %}
    </div>
{% endblock %}
