{% extends 'base.html' %}
{% load static %}

{% block title %}GamePub - Home{% endblock %}

{% block content %}
    <div class="title">Aqui sua diversão é nossa prioridade!</div>
    
    <div class="container ct-2">
        {% for area in areas %}
        <div class="menu-item">
            <div class="item-image">
                {% if area.imagem %}
                    <img src="{{ area.imagem.url }}" alt="{{ area.nome }}">
                {% else %}
                    <img src="{% static 'images/default.jpg' %}" alt="{{ area.nome }}">
                {% endif %}
            </div>
            <div class="item-content">
                <h3>{{ area.nome|title }}</h3>
                <p class="item-description">{{ area.descricao }}</p>
            </div>
        </div>
        {% empty %}
        <p>Nenhuma área cadastrada.</p>
        {% endfor %}
    </div>
    
    <div class="title">Menu</div>
    <div class="container ct-2">
        {% for item in cardapio %}
        <div class="menu-item">
            <div class="item-image">
                {% if item.imagem %}
                    <img src="{{ item.imagem.url }}" alt="{{ item.nome }}">
                {% else %}
                    <img src="{% static 'images/default.jpg' %}" alt="{{ item.nome }}">
                {% endif %}
            </div>
            <div class="item-content">
                <h3>{{ item.nome }}</h3>
                <p class="item-description">{{ item.descricao }}</p>
                <p class="item-price">Preço: R$ {{ item.preco|floatformat:2 }}</p>
            </div>
        </div>
        {% empty %}
        <p>Nenhum item no cardápio.</p>
        {% endfor %}
    </div>
    
    <div class="title">Jogos</div>
    <div class="container ct-2">
        {% for jogo in jogos %}
        <div class="menu-item">
            <div class="item-image">
                {% if jogo.imagem %}
                    <img src="{{ jogo.imagem.url }}" alt="{{ jogo.nome }}">
                {% else %}
                    <img src="{% static 'images/default.jpg' %}" alt="{{ jogo.nome }}">
                {% endif %}
            </div>
            <div class="item-content">
                <h3>{{ jogo.nome }}</h3>
                <p class="item-description">{{ jogo.descricao }}</p>
                {% if jogo.categoria %}
                    <p class="item-style">Estilo: {{ jogo.categoria.nome }}</p>
                {% endif %}
                <p class="item-players">Jogadores: {{ jogo.get_jogadores_str }}</p>
                <div class="disponibilidade {% if jogo.quantidade_disponivel > 0 %}disponivel{% else %}indisponivel{% endif %}">
                    Disponível: {{ jogo.quantidade_disponivel }}/{{ jogo.quantidade_total }}
                </div>
            </div>
        </div>
        {% empty %}
        <p>Nenhum jogo cadastrado.</p>
        {% endfor %}
    </div>
{% endblock %}

