{% extends 'base.html' %}
{% load static %}

{% block title %}GamePub - Jogos{% endblock %}

{% block content %}
    <div class="title">Jogos</div>
    <div class="container ct-2">
        {% for jogo in jogos %}
        <div class="menu-item">
            <div class="item-image">
                <img src="{% static jogo.imagem %}" alt="{{ jogo.nome }}">
            </div>
            <div class="item-content">
                <h3>{{ jogo.nome }}</h3>
                <p class="item-description">{{ jogo.descricao }}</p>
                <p class="item-style">Estilo: {{ jogo.estilo }}</p>
                <p class="item-players">Jogadores: {{ jogo.get_jogadores_display }}</p>
                {% if jogo.copias_disponiveis > 0 %}
                    <div class="disponibilidade disponivel">
                        Disponível: {{ jogo.copias_disponiveis }}/{{ jogo.copias_totais }}
                    </div>
                {% else %}
                    <div class="disponibilidade indisponivel">
                        Indisponível: {{ jogo.copias_disponiveis }}/{{ jogo.copias_totais }}
                    </div>
                {% endif %}
            </div>
        </div>
        {% empty %}
        <p>Nenhum jogo cadastrado.</p>
        {% endfor %}
    </div>
{% endblock %}
