:root {
    --primary-color: #7b75b1;
    --second-color: #ffffff;
    --terciary-color: #d7cde1;

    --dft-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.043);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    height: 100dvh;
    width: 100dvw;
    box-sizing: border-box;
}

.header {
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
    flex-shrink: 0;
    box-shadow: var(--dft-box-shadow)
}

.logo {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 900;
    cursor: pointer;
    font-style: italic;
}

.hd-button {
    height: 30px;
    width: 100px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    border: none;
    background-color: var(--terciary-color);
    font-weight: 700;
    cursor: pointer;
    font-size: 12px;
    box-shadow: var(--dft-box-shadow);

    &:hover {
        transition: all 0.2s ease-in-out;
        transform: translateY(-2px);
        background-color: var(--primary-color);
    }
}

.container {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
    overflow-y: auto;
}

.btn-box {
    display: flex;
    margin: auto;
    gap: 14px;
    box-sizing: border-box;
}

.title {
    width: 100%;
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
}

.photos {
    flex: 1;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.104);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: start;
}

.photo {
    height: 250px;
    width: calc(33% - 4px);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.104);
}

.menu-item {
    height: 60px;
    min-height: 130px;
    width: calc(25% - 8px);
    border-radius: 4px;
    box-shadow: var(--dft-box-shadow);
    background-color: rgb(255, 255, 255);
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    position: relative;
}

.item-image {
    height: 70%;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 15px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
}

/*Título cartão*/
.item-content h3 { 
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.item-description {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 4px;
    font-size: 13px;
    background-color: #f7f3ff;
    border-radius: 4px;
    box-sizing: border-box;
}

.item-type, .item-style {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-color);
}

.item-players {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-color);
}

.item-ingredients {
    margin: 0 0 8px 0;
}

.item-ingredients strong {
    font-size: 12px;
    color: var(--primary-color);
}

.item-ingredients ul {
    margin: 5px 0 0 0;
    padding-left: 15px;
    font-size: 11px;
    color: #666;
}

.item-price {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: #2e7d32;
    bottom: 15px;
    right: 15px;
    text-align: center;
}

.ct-2 {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    min-height: fit-content;
}

.disponibilidade {
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    display: inline-block;
}

.disponibilidade.disponivel {
    color: #2e7d32;
}

.disponibilidade.indisponivel {
    color: #c62828;
}

@media (max-width: 768px) {
    .menu-item {
        width: calc(50% - 8px);
    }
    
    .title {
        font-size: 35px;
    }
}

@media (max-width: 480px) {
    .menu-item {
        width: 100%;
    }
    
    .title {
        font-size: 28px;
    }
    
    .btn-box {
        flex-direction: column;
        gap: 8px;
    }
    
    .hd-button {
        width: 100px;
        font-size: 16px;
    }
}

.not {
    background-color: var(--terciary-color);
    color: var(--primary-color);
    padding: 4px 4px;
    display: grid;
    place-items: center;
    border-radius: 8px;
    font-size: 14px;
}